include ci/layout.jade
	strong
		h1 Contáctese con nosotros
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius harum molestias officiis itaque placeat aliquid, nobis maiores, dolorum labore, molestiae qui? Cum animi laborum expedita suscipit nulla officiis facilis quis?
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore amet vitae dolores ducimus consequuntur beatae voluptatum nostrum ipsum repudiandae expedita corporis, quam veritatis, quibusdam rem voluptates quos, nisi totam doloremque.
	p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit deleniti minima architecto consequuntur enim aliquid voluptates doloribus magnam nisi ad rem, fugiat saepe corporis ex soluta debitis aperiam nam quidem!

